@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@font-face {
    font-family: 'MiFuente';
    src: url(Web-PS/tipoviticompleto.240623-2050.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;}
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}


/* PORTADA */
#portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Evita el scroll mientras se anima */
}

#splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imagenes/azulejosblancospng.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s ease-in-out;
}

.portada {
    width: 100%;
    max-width: 800px;
}

.arrow {
    font-size: 5rem;
    color: rgb(18, 55,106);;
    cursor: pointer;
    margin-top: 20px;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}

/* Estado final después de hacer clic */
.hidden {
    transform: translateY(-100%);
}

#contenido {
    display: none;
    text-align: center;
}

.enlaces{ 
    padding: 0.6em;
    margin: 0.6em;
    color:rgb(18, 55, 106);
}

h1, p, h2, h3, a{ 
    font-family: "Gabarito", serif;
}

/*       HEADER      */
header{
    padding: 1.2em;
    text-align: center;
}

header img{
    width: 30%;
    align-content: center;
    justify-items: center;
}

header a img{
    width: 105px;
    margin: 0px 24px;
}

#indice{
    display: none;
}

/*       CARRUSEL       */

.carousel {
    position: relative;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    height: 70vh;
}

.carousel-images {
    display: flex;
    width: 70%;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.active { background: black; }

/*       MINIAN       */
#minian{
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 40px 150px 0px 150px;
}

#minian img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

#minian article{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#minian h2{
    color: green;
}

#minian article:nth-of-type(1){
    grid-column: span 1;
    grid-row: span 3;
}
#minian article:nth-of-type(2){
    grid-column: span 1;
    grid-row: span 2;
}
#minian article:nth-of-type(3){
    grid-column: span 1;
    grid-row: span 2;
}
#minian article:nth-of-type(4){
    grid-column: span 2;
    grid-row: span 1;
}

/*       AFICHE       */
#afiche{
    margin-top: 30px;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 40px 150px 0px 150px;
}

#afiche img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

#afiche article{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#afiche article:nth-of-type(1){
    grid-column: span 2;
    grid-row: span 2;
}
#afiche article:nth-of-type(2){
    grid-column: span 1;
    grid-row: span 3;

}
#afiche article:nth-of-type(3){
    grid-column: span 2;
    grid-row: span 1;
}

#afiche h2{
    color: brown;
}

.texto{
    display: flex;
    flex-direction: column;
    text-align: left;
}

/*       ECO       */
#eco{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1,1fr);
    margin: 0px 150px 40px 150px;
    }
    
    #eco img{
        width: 95%;
        height: 95%;
        object-fit: cover;
        display: block;
        transition: 0.3s;
    }
    
    #eco article{
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }


/*       TIPOGRAFIA       */
input{
    font-family: 'MiFuente';
    font-size: 250px;
    width: 150vh;
    height: 40vh;
    margin-bottom: 40px;
    color: rgb(18, 55, 106);
}

::placeholder{
    text-align: center;
    color: rgb(18, 55, 106);
}

#ejemplos{
    margin-top: 30px;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    margin: 20px 150px 0px 150px;
}

#ejemplos article img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

#ejemplos article{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

#tipo h1{
    font-size: 24px;
    font-family: 'MiFuente';
}

#tipo h2{
    font-size: 20px;
    font-family: 'MiFuente';
}

#tipo h3{
    font-size: 16px;
    font-family: 'MiFuente';
}

#tipo p{
    font-size: 12px;
    font-family: 'MiFuente';
}


/*       TECNICAS       */
#tecnicas{
    margin-top: 30px;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 40px 150px 40px 150px;
}
#tecnicas img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

#tecnicas article{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#tecnicas article:nth-of-type(1){
    grid-column: span 1;
    grid-row: span 1;
}
#tecnicas article:nth-of-type(2){
    grid-column: span 1;
    grid-row: span 1;
}
#tecnicas article:nth-of-type(3){
    grid-column: span 1;
    grid-row: span 3;

}
#tecnicas article:nth-of-type(4){
    grid-column: span 1;
    grid-row: span 1;
}
#tecnicas article:nth-of-type(5){
    grid-column: span 1;
    grid-row: span 1;
}

#elmato{
    position: relative;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    height: 70vh;
    margin-top: 20px;
}

footer{
    margin-top: 10px;
    justify-content: center;
    background-image: url(imagenes/azulejosblancospng.png);
    color: rgb(18, 55, 106);
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

footer article {
    margin-top: 10px;
}


.monografia {
    position: relative;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    height: 70vh;
}

.monografia-images {
    display: flex;
    width: 70%;
    transition: transform 0.5s ease-in-out;
}

.monografia-images img {
    width: 100%;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.active { background: black; }





/*       RESPONSIVA      */

/* media para tablet */
@media all and (max-width:1024px){

}



/* media para mobile */
@media all and (max-width:768px){

    /*       HEADER      */
header{
    padding: 1.2em;
    text-align: center;
}

header img{
    width: 70%;
    align-content: center;
    justify-items: center;
}

header a{
    display: none;
}

#indice{
    display: block;

}

#indice a img{
    width: 60px;
    margin: 20px 30px;
}

    /* revista mobile */
    .carousel {
        max-width: 768px;
        height: 25vh;
    }
    
    .prev, .next {
        top: 40%;
    }
    
    .dots {
        margin-top: 0px;
    }
    
    .dot {
        width: 8px;
        height: 8px;
    }
    

    /* minian mobile */
    #minian{
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,1fr);
        margin: 40px 50px 0px 50px;
    }
    
    #minian article:nth-of-type(1){
        grid-column: span 1;
        grid-row: span 4;
        transform: scale(1);
    }


        /* afiche mobile */

        #afiche{
            height: 70vh;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4,1fr);
            margin: 40px 50px 0px 50px;
            display: flex;
            flex-direction: column;
        }
        
        #afiche article:nth-of-type(1){
            order: 3;
            width: 100%;
            height: 30%;
        }
        #afiche article:nth-of-type(3){
            padding: 40px 0px;
        }
        
        .texto{
            font-size: 80%;
        }

        /* ECO mobile */
        #eco{
            height: 20vh;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1,1fr);
            margin: 20px 50px 20px 50px;
            }
            
            #eco article:nth-of-type(2){
                display: none;
            }
            #eco article:nth-of-type(3){
                display: none;
            }

            /*       TIPOGRAFIA       */
input{
    font-size: 50px;
    width: 32vh;
    height: 20vh;
}


#ejemplos{
    margin-top: 30px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px 0px 50px;
}

#ejemplos article img{
    width: 100%;
    height: 100%;
}

#ejemplos article:nth-of-type(1){
    grid-column: span 2;
    display: none;
}

#ejemplos article:nth-of-type(2){
    display: none;
}

/*       TECNICAS       */
#tecnicas{
    height: 80vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4,1fr);
    margin: 0px 50px 40px 50px;
}

#tecnicas img{
    width: 88%;
    height: 95%;
}

#tecnicas article{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#tecnicas article:nth-of-type(3){
display: none;

}


}
